@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-items {
    @apply rounded-md p-1 w-10 flex justify-center items-center text-2xl	 
    hover:shadow-md hover:scale-125 hover:bg-recipeBrown-default 
    transition-all ease-in-out duration-300;
  }

  .search-button {
    @apply rounded-md w-8 mx-2 flex 
     justify-center text-3xl text-recipeBrown-default
      transition-all ease-out duration-150;
  }

  /* .search-input-container {
    @apply flex justify-start items-center ;
  }

  .search-input {
    @apply w-24 text-black ease-in-out duration-500;
  } */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} 